<header>
    <section class="logo">
        <img class="logo_img" src="/media/images/logo.png" alt="Logo">
        <span>Just Do IT!</span>
    </section>
    <nav class="main-nav">
        <a href="#">logout</a>
    </nav>
</header>