<aside class="categories">
    <nav class="categories_nav">
        <h3>Categories</h3>
        <ul class="topics">
            {{#each categories}}
                <li class="topic{{#if current}} active{{/if}}">
                    <button>{{name}}</button>
                </li>
            {{/each}}
        </ul>
    </nav>
</aside>