<ul class="tags">
    {{#if tags}}
        {{#each tags}}
            <li class="tag">{{name}}</li>
        {{/each}}
    {{/if}}
    {{#arrayIsShorter tags 5}}
        <li class="tag tag--add">
            <form class="tag--add__form" method="post" action="/postTag">
                <span class="tag--add__icon">+</span>
                <input name="name" type="text" id="todo-add-input" class="tag--add__input" placeholder="Add a tag (max 1 word)" maxlength="50">
                <input type="hidden" name="task" value="{{id}}">
            </form>
        </li>
    {{/arrayIsShorter}}
</ul>