<ul class="tags">
    {{#if tags}}
        {{#each tags}}
            <li class="tag">{{this}}</li>
        {{/each}}
    {{/if}}
    {{#arrayIsShorter tags 5}}
        <li class="tag tag--add">
            <form class="tag--add__form">
                <button class="tag--add__button">+</button>
                <input class="tag--add__input" placeholder="Add a tag (max 1 word)" maxlength="20">
            </form>
        </li>
    {{/arrayIsShorter}}
</ul>