<li class="task-item" data-id="{{id}}">
    {{#actionButton 'complete'}}{{/actionButton}}
    <p class="task">{{name}}</p>
    {{#actionButton 'edit'}}{{/actionButton}}
    {{#actionButton 'delete'}}{{/actionButton}}
    {{> tags}}
</li>