<li class="task-item override" data-id="theRealIdHere">
    {{#actionButton 'complete'}}{{/actionButton}}
    <p class="task">{{task}}</p>
    {{#actionButton 'edit'}}{{/actionButton}}
    {{#actionButton 'delete'}}{{/actionButton}}
</li>