<section class="todo">
    <h2><label for="todo-add-input">We've got {{tasks.length}} things left to do!</label></h2>
    <form class="todo-add" method="post" action="/postTodo">
        <input id="todo-add-input" name="name" type="text" maxlength="50" placeholder="Make food">
        <input id="todo-add__category" type="hidden" name="category" value="{{categoryId}}">
        <input id="todo-add__user" type="hidden" name="user" value="{{userId}}">
        <button class="todo-add__task" type="submit">Add task</button>
        <button id="todo-add__category" type="button" class="todo-add__category">Create category</button>
    </form>

    <ul class="tasks">
        {{#each tasks}}
            {{> task}}
        {{/each}}
    </ul>
</section>
<section class="complete">
    <h2>You've completed {{completeTasks.length}} task{{#arrayIsLonger completeTasks 1}}s{{/arrayIsLonger}}!</h2>
    <ul class="tasks">
        {{#each completeTasks}}
            {{> completedTask}}
        {{/each}}
    </ul>
</section>