<section class="todo">
    <h2><label for="todo-add-input">We've got {{tasks.length}} things left to do!</label></h2>
    <form class="todo-add" method="post" action="/postTodo">
        <input id="todo-add-input" name="name" type="text" maxlength="50" placeholder="Make food">
        <input type="hidden" name="currentCategory" value="{{currentCategoryId}}">
        <input type="hidden" name="userId" value="{{id}}">
        <button type="submit">Send</button>
    </form>

    <ul class="tasks">
        {{#each tasks}}
            {{> task}}
        {{/each}}
    </ul>
</section>
<section class="complete">
    <h2>You've completed {{completeTasks.length}} task{{#arrayIsLonger completeTasks 1}}s{{/arrayIsLonger}}!</h2>
    <ul class="tasks">
        {{#each completeTasks}}
            {{> completedTask}}
        {{/each}}
    </ul>
</section>