<section class="todo">
    <h2><label for="todo-add-input">We've got {{tasks.length}} things left to do!</label></h2>
    <form class="todo-add" action="POST">
        <input id="todo-add-input" type="text" maxlength="50" placeholder="Make food">
        <button>Send</button>
    </form>
    <ul class="tasks">
        {{#each tasks}}
            {{> task}}
        {{/each}}
    </ul>
</section>
<section class="complete">
    <h2>You've completed {{completeTasks.length}} task{{#arrayIsLonger completeTasks 1}}s{{/arrayIsLonger}}!</h2>
    <ul class="tasks">
        {{#each completeTasks}}
            {{> completedTask}}
        {{/each}}
    </ul>
</section>