{{> header}}


{{#with todoData}}
    <main>
        {{> navigation}}
        <div class="categories_background"></div>
        <div class="content">
            {{> todo}}
        </div>
    </main>
{{/with}}