<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Settings -->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Stualyttle" name="author">
    <meta content="Project" name="description">
    <meta content="Stualyttle" name="keywords">
    <title>Title</title>

    <!-- CSS -->
    <link href="/css/styles.css" rel="stylesheet">
    <!-- Javascript -->
    <script src="https://livejs.com/live.js" defer></script>
    <script src="/scripts/main.js" defer></script>
    <!-- Favicons -->
    <link href="https://lyttle.it/favicon.ico" rel="icon">
</head>

<body>
<header>
    <section class="logo">
        <img class="logo_img" src="/media/images/logo.png" alt="Logo">
        <span>Just Do It!</span>
    </section>
    <nav class="main-nav">
        <a href="#">logout</a>
    </nav>
</header>

<main>
    <aside class="categories">
        <nav class="categories_nav">
            <h3>Categories</h3>
            <ul class="topics">
                <li class="topic active">
                    <button>Default</button>
                </li>
                <li class="topic">
                    <button>Household</button>
                </li>
            </ul>
        </nav>
    </aside>
    <div class="categories_background"></div>
    <div class="content">
        <section class="todo">
            <h2><label for="todo-add-input">We've got things to do!</label></h2>
            <form class="todo-add" action="POST">
                <input id="todo-add-input" type="text" maxlength="50" placeholder="Make food">
                <button>Send</button>
            </form>
            <ul class="tasks">
                <li class="task-item override" data-id="theRealIdHere">
                    <button data-action="complete" class="actionItem completeItem">Complete</button>
                    <p class="task">Print new documentation papers.</p>
                    <button data-action="edit" class="actionItem editItem">Edit</button>
                    <button data-action="delete" class="actionItem deleteItem">Delete</button>
                </li>
                <li class="task-item" data-id="theRealIdHere">
                    <button data-action="complete" class="actionItem completeItem">Complete</button>
                    <p class="task">Make new function in Discord bot.Make new function</p>
                    <button data-action="edit" class="actionItem editItem">Edit</button>
                    <button data-action="delete" class="actionItem deleteItem">Delete</button>
                </li>
            </ul>
        </section>
        <section class="complete">
            <h2>Things you've completed!</h2>
            <ul class="tasks">
                <li class="task-item" data-id="theRealIdHere">
                    <p class="task">Make meme your project manager!</p>
                    <button data-action="delete" class="actionItem deleteItem">Delete</button>
                </li>
            </ul>
        </section>
    </div>
</main>

<footer></footer>
</body>
</html>
