{{> navigation}}

Welcome to Handlebars,
{{#with data}}
    {{#with person}}
        {{firstname}} {{lastname}}!
    {{/with}}

    <br>

    Mijn interesses zijn:
    <ul>
        {{#each interests}}
            <li>{{name}}</li>
        {{/each}}
    </ul>
{{/with}}