<nav>
    <div class="logo">
        Authentication
    </div>
    <ul>
        <li>
            <form method="post" action="/logout">
                <button class="btn btn-tertiary">Logout</button>
            </form>
        </li>
    </ul>
</nav>